In [5]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Create Customer Profiles
num_customers = 600
customer_profiles = pd.DataFrame({
    'customer_id': range(1, num_customers + 1),
    'customer_name': [f'Customer {i}' for i in range(1, num_customers + 1)],
    'contact_info': [f'customer{i}@gmail.com' for i in range(1, num_customers + 1)],
    'demographics': [random.choice(['18-25', '26-35', '36-45', '46-55', '56+']) for _ in range(num_customers)]
})

In [6]:
#  Create Feedback Categories
feedback_categories = pd.DataFrame({
    'category_id': range(1, 9),
    'category_name': ['Service', 'Product Quality', 'Delivery', 'Support', 'Pricing', 
                      'Usability', 'Features', 'Overall Experience']
})

In [7]:
# Define product categories
product_categories = [
    "Health & Household",
    "Baby Products",
    "Electronics",
    "Clothing",
    "Office Products",
    "Home Improvement"
]

# Define products for each category
products_dict = {
    "Health & Household": [
        "Glad ForceFlex Trash Bags",
        "Seventh Generation Liquid Laundry Detergent",
        "Tide Pods Laundry Detergent",
        "Gain Flings! Laundry Detergent Pods",
        "Nature Valley Crunchy Granola Bars",
        "Quaker Instant Oatmeal",
        "Lipton Iced Tea Bags",
        "Starbucks Pike Place Roast Ground Coffee",
        "Green Mountain Coffee Roasters Breakfast Blend",
        "Nestle Toll House Chocolate Chip Cookie Dough",
        "Frito-Lay Variety Pack",
        "Kind Bars Variety Pack",
        "Simply Cheetos Puffs",
        "Blue Diamond Almonds",
        "Pop-Tarts Frosted Strawberry",
        "Nature's Bakery Fig Bars",
        "Lara Bar",
        "Red Bull Energy Drink",
        "Gatorade Thirst Quencher Powder"
    ],
    "Baby Products": [
        "Pampers Swaddlers Diapers",
        "Huggies Little Snugglers Diapers",
        "Babyganics Alcohol-Free Hand Sanitizer",
        "Chicco Bravo Quick-Fold Travel System",
        "Graco Pack 'n Play Portable Playard",
        "Fisher-Price Rock 'n Play Sleeper",
        "Infantino Flip 4-in-1 Convertible Carrier",
        "Philips Avent Natural Baby Bottle",
        "Munchkin Soft-Tip Infant Spoon",
        "Medela Pump In Style Advanced Breast Pump",
        "BabyBj√∂rn Bouncer Balance Soft",
        "Hatch Baby Rest Sound Machine",
        "Cuddlebug Baby Wrap Carrier",
        "Skip Hop Zoo Little Kid Backpack",
        "Boppy Original Nursing Pillow",
        "Summer Infant 3Dlite Convenience Stroller",
        "Aquaphor Baby Healing Ointment",
        "Evenflo Pivot Modular Travel System",
        "OXO Tot Flippy Snack Cup",
        "Tommee Tippee Closer to Nature Bottle"
    ],
    "Electronics": [
        "Apple AirPods Pro",
        "Samsung Galaxy Buds Live",
        "Bose QuietComfort 35 II Wireless Headphones",
        "Sony WH-1000XM4 Wireless Noise Cancelling Headphones",
        "Razer Kraken Gaming Headset",
        "Logitech G502 HERO Gaming Mouse",
        "TP-Link Deco Whole Home Mesh WiFi System",
        "Amazon Fire TV Stick 4K",
        "Roku Streaming Stick+",
        "Philips Hue White and Color Ambiance LED Smart Bulbs",
        "Ring Video Doorbell",
        "Anker PowerCore 10000 Portable Charger",
        "SanDisk Ultra 64GB microSDXC Card",
        "Apple Watch Series 6",
        "Fitbit Charge 4 Fitness Tracker"
    ],
    "Clothing": [
        "Levi's 511 Slim Fit Jeans",
        "Nike Air Max 270 Sneakers",
        "Adidas Originals Superstar Sneakers",
        "Calvin Klein Women's Modern Cotton Bralette",
        "Hanes Men's ComfortSoft T-Shirt",
        "Under Armour Men's Tech 2.0 T-Shirt",
        "Columbia Women's Arcadia II Jacket",
        "Amazon Essentials Men's Fleece Sweatpants",
        "The North Face Men's Resolve Waterproof Jacket",
        "Puma Women's Essential T-Shirt",
        "Champion Men's Powerblend Fleece Pullover Hoodie",
        "Crocs Classic Clogs",
        "Wrangler Authentics Men's Classic 5-Pocket Jeans",
        "Fruit of the Loom Women's Eversoft Cotton Briefs",
        "Baleaf Women's High Waist Yoga Pants",
        "Hollister Women's Ripped Skinny Jeans",
        "Reebok Men's CrossFit Speed TR 2.0 Sneakers",
        "Champion Women's Graphic Tee",
        "Tommy Hilfiger Men's Iconic Hoodie",
        "Levi's Women's 720 High Rise Super Skinny Jeans"
    ],
    "Office Products": [
        "HP LaserJet Pro M15w Wireless Printer",
        "Brother HL-L2350DW Compact Laser Printer",
        "Amazon Basics 8.5 x 11-Inch Printer Paper",
        "Post-it Super Sticky Notes",
        "BIC Cristal Xtra Smooth Ballpoint Pen",
        "Sharpie Permanent Markers",
        "Pencil Case with Zipper",
        "Fujitsu ScanSnap iX1500 Document Scanner",
        "Logitech M510 Wireless Mouse",
        "Samsung Galaxy Tab S6 Lite",
        "ASUS Chromebook Flip C434",
        "Acer Aspire 5 Slim Laptop",
        "Microsoft Surface Pro 7",
        "Apple MacBook Air",
        "Lenovo ThinkPad X1 Carbon",
        "Dell XPS 13",
        "TP-Link Kasa Smart WiFi Plug",
        "Anker Wireless Charger",
        "Kensington SmartFit Conform Back Support",
        "Fellowes Powershred 79Ci Paper Shredder"
    ],
    "Home Improvement": [
        "DEWALT 20V MAX Cordless Drill Combo Kit",
        "BLACK+DECKER LDX120C 20V MAX Lithium Ion Drill/Driver",
        "Kreg Pocket Hole Jig K5",
        "DAP ALEX Plus Spackling",
        "Rust-Oleum 1979502 Stops Rust Spray Paint",
        "Gorilla Super Glue Gel",
        "3M Command Damage-Free Hanging Strips",
        "Ryobi P731 Cordless Electric Blower",
        "Greenworks 40V 16-Inch Cordless Chainsaw",
        "Craftsman CMXEVBE17595 12 Gallon Wet/Dry Vacuum",
        "CRAFTSMAN Mechanics Tool Set",
        "Makita 5007MG 7-1/4-Inch Circular Saw",
        "Bosch 4100-09 10-Inch Table Saw",
        "Stanley 42-480 12-Inch Adjustable Wrench",
        "Milwaukee 48-22-8802 25-Foot Tape Measure",
        "Klein Tools 11055 Wire Cutter and Stripper",
        "Worx WG520 Turbine 600 Electric Leaf Blower",
        "Festool 575389 Rotex 150 FEQ Random Orbit Sander",
        "Irwin VISE-GRIP Locking Pliers",
        "RYOBI P737 18V One+ Cordless 1/2 in. Impact Wrench"
    ]
}


product_categories_df = pd.DataFrame({
    'product_category_id': range(1, len(product_categories) + 1),
    'category_name': product_categories
})


products = []
for category_id, category in enumerate(product_categories_df['product_category_id'], start=1):
    for product_name in products_dict[product_categories[category_id - 1]]:
        products.append({
            'product_id': len(products) + 1,
            'product_name': product_name,
            'product_category_id': category_id
        })

products_df = pd.DataFrame(products)

In [8]:
# Generate Feedback Forms
num_feedback_entries = 1000
feedback_texts = [
    'Great service!', 'I am very satisfied!', 'Not happy with the product.', 
    'Delivery was late.', 'Support was helpful.', 'Product quality is excellent.',
    'Pricing is too high.', 'Had a terrible experience.', 'Loved the features!',
    'Will definitely recommend!', 'Usability is fantastic.', 'I am disappointed.',
    'Very user-friendly!', 'Could be improved.', 'Satisfied with my purchase.',
    'The product exceeded my expectations.', 'I would not buy again.',
    'Quick and easy purchase process!', 'Excellent customer service!',
    'The product didn‚Äôt meet my expectations.', 'A great value for money.'
]
feedback_forms = pd.DataFrame({
    'feedback_id': range(1, num_feedback_entries + 1),
    'customer_id': random.choices(customer_profiles['customer_id'], k=num_feedback_entries),
    'feedback_text': [random.choice(feedback_texts) for _ in range(num_feedback_entries)],
    'feedback_date': [datetime.now() - timedelta(days=random.randint(1, 90)) for _ in range(num_feedback_entries)],
    'category_id': random.choices(feedback_categories['category_id'], k=num_feedback_entries),
    'product_id': random.choices(products_df['product_id'], k=num_feedback_entries)
})

In [9]:
customer_demographics = pd.DataFrame({
    'demographic_id': range(1, num_customers + 1),
    'customer_id': range(1, num_customers + 1),
    'gender': random.choices(['Male', 'Female', 'Other'], k=num_customers),
    'location': random.choices(['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'], k=num_customers)
})

In [10]:
num_interactions = 1000
interaction_types = ['Phone Call', 'Email', 'Chat', 'In-Person']
customer_interactions = pd.DataFrame({
    'interaction_id': range(1, num_interactions + 1),
    'customer_id': random.choices(customer_profiles['customer_id'], k=num_interactions),
    'interaction_type': random.choices(interaction_types, k=num_interactions),
    
})

In [11]:
customer_profiles.head()

   customer_id customer_name         contact_info demographics
0            1    Customer 1  customer1@gmail.com          56+
1            2    Customer 2  customer2@gmail.com        46-55
2            3    Customer 3  customer3@gmail.com        46-55
3            4    Customer 4  customer4@gmail.com        46-55
4            5    Customer 5  customer5@gmail.com        18-25

In [12]:
feedback_categories.head()

   category_id    category_name
0            1          Service
1            2  Product Quality
2            3         Delivery
3            4          Support
4            5          Pricing

In [13]:
feedback_forms.head()

,feedback_id,customer_id,feedback_text,feedback_date,category_id,product_id
0,1,116,Could be improved.,2024-08-30 16:26:20.697978,7,34
1,2,500,Support was helpful.,2024-07-28 16:26:20.697978,2,52
2,3,173,Quick and easy purchase process!,2024-09-03 16:26:20.697978,6,33
3,4,142,Will definitely recommend!,2024-07-21 16:26:20.697978,6,22
4,5,423,I would not buy again.,2024-09-07 16:26:20.697978,2,64

In [14]:
product_categories_df.head()

   product_category_id       category_name
0                    1  Health & Household
1                    2       Baby Products
2                    3         Electronics
3                    4            Clothing
4                    5     Office Products

In [15]:
products_df.head()

,product_id,product_name,product_category_id
0,1,Glad ForceFlex Trash Bags,1
1,2,Seventh Generation Liquid Laundry Detergent,1
2,3,Tide Pods Laundry Detergent,1
3,4,Gain Flings! Laundry Detergent Pods,1
4,5,Nature Valley Crunchy Granola Bars,1

In [16]:
customer_interactions.head()

   interaction_id  customer_id interaction_type
0               1          226       Phone Call
1               2          313        In-Person
2               3          200        In-Person
3               4          375        In-Person
4               5          231             Chat

In [18]:
# Check for missing customer_ids in Customer_Interactions
missing_in_interactions = customer_interactions[~customer_interactions['customer_id'].isin(customer_profiles['customer_id'])]

# Check for missing customer_ids in Customer_Demographics
missing_in_demographics = customer_demographics[~customer_demographics['customer_id'].isin(customer_profiles['customer_id'])]

# Output results
if missing_in_interactions.empty:
    print("All customer_ids in Customer_Interactions are present in Customer_Profiles.")
else:
    print("These customer_ids in Customer_Interactions are missing from Customer_Profiles:")
    print(missing_in_interactions[['customer_id']])

if missing_in_demographics.empty:
    print("All customer_ids in Customer_Demographics are present in Customer_Profiles.")
else:
    print("These customer_ids in Customer_Demographics are missing from Customer_Profiles:")
    print(missing_in_demographics[['customer_id']])

All customer_ids in Customer_Interactions are present in Customer_Profiles.
All customer_ids in Customer_Demographics are present in Customer_Profiles.

In [19]:
# Step 4: Save to CSV files
customer_profiles.to_csv('customer_profiles.csv', index=False)
feedback_categories.to_csv('feedback_categories.csv', index=False)
feedback_forms.to_csv('feedback_forms.csv', index=False)
products_df.to_csv('products.csv', index=False)
customer_interactions.to_csv('customer_interactions.csv', index=False)
product_categories_df.to_csv('product_categories.csv', index=False)
customer_demographics.to_csv('customer_demographics.csv', index=False)
print("Synthetic data created and saved to CSV files.")

Synthetic data created and saved to CSV files.