In [1]:
pip install pandas sqlalchemy pyodbc

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: sqlalchemy in c:\users\dell\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: pyodbc in c:\users\dell\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
import urllib
from sqlalchemy import create_engine

# Define the parameters for your connection
params = urllib.parse.quote_plus(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=DESKTOP-DAR8FR8;"
    "DATABASE=CustomerFeedbackDW;"
    "Trusted_Connection=yes;"
)

# Create the connection string
conn_str = f"mssql+pyodbc:///?odbc_connect={params}"

# Create the SQLAlchemy engine
engine = create_engine(conn_str)

In [4]:
# Load data from the Fact_Feedback table
FactFeedback_df = pd.read_sql('SELECT * FROM dbo.FactFeedback', engine)
DimCustomers_df = pd.read_sql('SELECT * FROM dbo.DimCustomer', engine)
DimCategories_df = pd.read_sql('SELECT * FROM dbo.DimCategory', engine)
DimProduct_df= pd.read_sql('SELECT * FROM dbo.DimProduct', engine)
DimProductCategory_df= pd.read_sql('SELECT * FROM dbo.DimProductCategory', engine)

In [5]:
FactFeedback_df.head()

,feedback_id,customer_id,product_id,category_id,feedback_text
0,1,116,34,7,Could be improved.
1,2,500,52,2,Support was helpful.
2,3,173,33,6,Quick and easy purchase process!
3,4,142,22,6,Will definitely recommend!
4,5,423,64,2,I would not buy again.

In [6]:
FactFeedback_df.isna().sum()

feedback_id      0
customer_id      0
product_id       0
category_id      0
feedback_text    0
dtype: int64

In [7]:
DimCustomers_df.head()

   customer_id customer_name         contact_info demographics
0            1    Customer 1  customer1@gmail.com        36-45
1            2    Customer 2  customer2@gmail.com          56+
2            3    Customer 3  customer3@gmail.com        36-45
3            4    Customer 4  customer4@gmail.com        36-45
4            5    Customer 5  customer5@gmail.com          56+

In [8]:
DimCustomers_df.isna().sum()

customer_id      0
customer_name    0
contact_info     0
demographics     0
dtype: int64

In [9]:
DimCategories_df.head()

   category_id    category_name
0            1          Service
1            2  Product Quality
2            3         Delivery
3            4          Support
4            5          Pricing

In [10]:
DimCategories_df.isna().sum()

category_id      0
category_name    0
dtype: int64

In [11]:
DimProduct_df.head()

,product_id,product_name,product_category_id
0,1,Glad ForceFlex Trash Bags,1
1,2,Seventh Generation Liquid Laundry Detergent,1
2,3,Tide Pods Laundry Detergent,1
3,4,Gain Flings! Laundry Detergent Pods,1
4,5,Nature Valley Crunchy Granola Bars,1

In [12]:
DimProduct_df.isna().sum()

product_id             0
product_name           0
product_category_id    0
dtype: int64

In [13]:
DimProductCategory_df.head()

   product_category_id       category_name
0                    1  Health & Household
1                    2       Baby Products
2                    3         Electronics
3                    4            Clothing
4                    5     Office Products

In [14]:
DimProductCategory_df.isna().sum()

product_category_id    0
category_name          0
dtype: int64

In [16]:
FactFeedback_df.to_csv('FactFeedback_df.csv', index=False)
DimCustomers_df.to_csv('DimCustomers_df.csv', index=False)
DimCategories_df.to_csv('DimCategories_df.csv', index=False)
DimProduct_df.to_csv('DimProduct_df.csv', index=False)
DimProductCategory_df.to_csv('DimProductCategory_df.csv', index=False)
print("Synthetic data created and saved to CSV files.")

Synthetic data created and saved to CSV files.